h1 {
  font-size: 35px;
  text-align: center;
  padding: 1rem 0 0;
}

h2 {
  font-size: 1.2rem;
  padding: 1rem 1rem 0;
}

main {
  padding: 1rem 1rem;
}

.heading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}

li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile {
  display: flex;
  align-items: center;
  padding: 0 1rem 1rem;
}

.passenger-info {
  box-shadow: 0 0 0.125rem 0 rgb(0, 0, 0);
  border-radius: 0.625rem;
  margin-bottom: 1.25rem;
  background-color: rgb(205, 205, 205);
}

.profile img {
  width: 175px;
  height: 175px;
  align-self: center;
  border: 2px solid darkgrey;
  box-shadow: 0 0 2px 1px rgb(103, 102, 102);
  border-radius: 10px;
}

.bio {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgb(230, 225, 218);
  border-radius: 10px;
}
